.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    
}
li a {
    padding: 8px 12px;
    margin: 0 4px;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    
}